.vscode
.coverage
dist
build/
*.egg-info
__pycache__
*.pyc
*.swp
*.swo

# Sphinx documentation
docs/_build/
docs/doctrees/
docs/html/
docs/modules/gcd.rst
docs/modules/modules.rst

# tests output files
coverage.xml
output.xml
